<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
    <style>
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        width: 100%;
      }
      </style>
  </head>
  <body>
    <h1>Select a JSON file</h1>
    <form id="uploadForm" enctype="multipart/form-data" action="/uploadFile" method="post">
      <input type="file" name="myfile" />
      <input type="submit" value="Send" name="submit">
      <span id = "status"></span>
    </form>
    <br/>
    <br/>
    <table id="temperatureTable">
      <tr>
        <th>Time</th>
        <th>Temperature</th>
      </tr>
    </table>
  </body>
</html>

<script>
  $(function() {
    $('#uploadForm').submit(function() {
        $(this).ajaxSubmit({

            error: function(xhr) {
        status('Error: ' + xhr.status);
            },

            success: function(response) {
              const data = JSON.parse(response)
              data.forEach(elem => {
                const date = new Date(elem.ts);
                $('#temperatureTable').append(`<tr><td>${date.getDate()}/${date.getMonth()}/${date.getFullYear()} ${date.getHours()}:${date.getMinutes()}:${date.getSeconds()}</td> <td>${elem.val}</td></tr>`)
              })
                console.log(response);
            }
    });
    return false;
    });  
  })
</script>